<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.feifei.ssm.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="cn.feifei.ssm.domain.Role">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="sn" property="sn" />
    <collection property="permissions" column="id" ofType="Permission" fetchType="eager"
                select="cn.feifei.ssm.mapper.PermissionMapper.selectByRoleId"/>
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from role
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into role (name, sn)
    values (#{name}, #{sn})
  </insert>
  <update id="updateByPrimaryKey">
    update role
    set name = #{name},
      sn = #{sn}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, name, sn
    from role
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, sn
    from role
  </select>

  <!--高级查询-->
  <select id="queryForCount" resultType="int">
    SELECT count(id)
    FROM role
  </select>

  <select id="queryForList" resultMap="BaseResultMap">
    select id, name, sn
    from role
    LIMIT #{start}, #{rows}
  </select>

  <select id="selectByUserId" resultType="long">
    select r.id from role r join user_role ur on r.id=ur.role_id
    where ur.user_id=#{id}
  </select>

  <insert id="insertRelation">
    insert into role_permission(role_id,permission_id) values(#{roleId},#{permissionId})
  </insert>

  <delete id="deleteRelation">
    delete from role_permission where role_id = #{id}
  </delete>

  <!--<select id="selectRoleByUsername" resultMap="BaseResultMap">
    select * from user u join user_role ur on u.id=ur.user_id
    join role r on r.id=ur.role_id
    where u.username = #{username}
  </select>-->

  <select id="selectByUsId" resultType="string">
    select r.sn from role r join user_role er on r.id=er.role_id
    where er.user_id = #{userId}
  </select>
</mapper>